@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

body {
	background: #FFFFFF url('https://5f81071f79ff7c87d96f-d6cf056aacb281ad4f75193eb300b28a.ssl.cf1.rackcdn.com/Mastheads/client_id_230_masthead_image_1457838581.6307.jpg') top center;
	background-size: contain;
	background-attachment: fixed;
}
h1{
	font-weight: bold;
	color: #e84a36;
	text-align: center;
	font-family: 'Rock Salt', cursive;
}
.container{
	max-width: 720px;
}
.main .container{
	background: #f5f5f5;
	height: 100%;
	padding-bottom: 50px;
}
header .container{
	background: #005f85;
	padding: 20px 0px;
	text-align: center;
}
footer .container{
	background: #005f85;
	padding: 20px 0px;
}
h2{
	background: #efefef;
	color: #005f85;
	padding: 10px 15px;
	width: inherit;
	font-size: 18px;
	font-weight: bold;
	margin-top: 25px;
}
.form-inline{
	font-size: 20px;
}
.hope{
	width: 300px;
}

@media (min-width: 768px){
.form-inline .hope {
    width: 325px;
}